# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
secrets.toml

# SQLite database
#jobs.db

# dotenv environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
